body {
    background-color: darkgoldenrod;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: cadetblue;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: darkslateblue;
}